<!DOCTYPE html>
<html lang="de">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="style.css">
    <script src="functions.js" async defer></script>
    <title>Matratzenfinder</title>
 </head>
 <body>
    <div id="placeholder">
      <form id="formIndex" action="">
      <div style="text-align:center;" id="steps">
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
         <span class="step"></span>
      </div>     

      <div class="tab tabGridTarget">
        <div class="title">
          <h1>Zielgruppe:</h1>
        </div>
            <label>
                <div class="options">
                   <p>Erwachsene</p> 
                </div>
                <input class="radio" type="radio" name="target" data-value="1" oninput="this.className = ''">
                <img class="images" src="">
            </label>  
            <label>
                <div class="options">
                  <p>Kinder</p>  
                </div>
                <input class="radio" type="radio" name="target" data-value="2" oninput="this.className = ''">
                <img class="images" src="">
            </label>
        </div>

        <div class="tab tabGridHardness">
          <div class="title">
            <h1>Härtegrad:</h1>
          </div>
            <label>
                <div class="options">
                  <p>H1</p> 
                </div>
               <input type="radio" name="hardness" data-value="H1" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>H2</p> 
                </div>
                <input type="radio" name="hardness" data-value="H2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>H3</p> 
                </div>
                <input type="radio" name="hardness" data-value="H3" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>H4</p> 
                </div>
                <input type="radio" name="hardness" data-value="H4" oninput="this.className = ''">
            </label>
        </div>

        <div class="tab tabGridSizes">
          <div class="title">
            <h1>Matratzengröße:</h1>
          </div>
            <label>
                <div class="options">
                  <p>60x120</p> 
                </div>
                <input type="radio" name="size" data-value="9" data-size="2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>70x140</p> 
                </div>
                <input type="radio" name="size" data-value="10" data-size="2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>80x200</p> 
                </div>
                <input type="radio" name="size" data-value="1" data-size="1,2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>90x200</p> 
                </div>
                <input type="radio" name="size" data-value="2" data-size="1,2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>100x200</p> 
                </div>
                <input type="radio" name="size" data-value="3" data-size="1,2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>120x200</p> 
                </div>
                <input type="radio" name="size" data-value="4" data-size="1,2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>140x200</p> 
                </div>
                <input type="radio" name="size" data-value="5" data-size="1,2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>160x200</p> 
                </div>
                <input type="radio" name="size" data-value="6" data-size="1,2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>180x200</p> 
                </div>
                <input type="radio" name="size" data-value="7" data-size="1,2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>200x200</p> 
                </div>
                <input type="radio" name="size" data-value="8" data-size="1,2" oninput="this.className = ''">
            </label>
        </div>

        <div class="tab tabGridAllergies">
          <div class="title">
            <h1>Allergie:</h1>
          </div>
            <label>
                <div class="options">
                  <p>Latex</p> 
                </div>
                <input type="checkbox" name="allergy" data-value="1" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>Milben</p> 
                </div>
                <input type="checkbox" name="allergy" data-value="2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>Tierhaar</p> 
                </div>
                <input type="checkbox" name="allergy" data-value="3" oninput="this.className = ''">
            </label>
        </div>

        <div class="tab tabGridMaterial">
          <div class="title">
            <h1>Material:</h1>
          </div>
            <label>
                <div class="options">
                  <p>Kaltschaum</p> 
                </div>
                <input type="radio" name="material" data-value="1" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>Federkern</p> 
                </div>
                <input type="radio" name="material" data-value="2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>Latex</p> 
                </div>
                <input type="radio" name="material" data-value="3" data-size="latex" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>Naturlatex</p> 
                </div>
                <input type="radio" name="material" data-value="4" data-size="latex" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>Viskose</p> 
                </div>
                <input type="radio" name="material" data-value="5" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>Komfortschaum</p> 
                </div>
                <input type="radio" name="material" data-value="6" oninput="this.className = ''">
            </label>
        </div>

        <div class="tab tabGridAllergies">
          <div class="title">
            <h1>Beschwerden:</h1>
          </div>
            <label>
                <div class="options">
                  <p>Schultern/Nacken</p> 
                </div>
                <input type="checkbox" name="complaints" data-value="2" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>Hüfte</p> 
                </div>
                <input type="checkbox" name="complaints" data-value="3" oninput="this.className = ''">
            </label>
            <label>
                <div class="options">
                  <p>Rücken</p> 
                </div>
                <input type="checkbox" name="complaints" data-value="1" oninput="this.className = ''">
            </label>
        </div>
        <div> 
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Zurück</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Weiter</button>
        </div>
      </form>
    </div>
    <div class="results"></div>
 </body>
</html>